<!-- Footer -->

<footer class="colored-section center" id="footer">
  <div class="container-fluid">

    <a href="www.twitter.com"><i class="fab fa-twitter icon"></i></a>
    <a href="www.facebook.com"><i class="fab fa-facebook-f icon"></i></a>
    <a href="www.instagram.com"><i class="fab fa-instagram icon"></i></a>
    <a href="mailto:linkwsb@gmail.com"><i class="fas fa-envelope icon"></i></a>

    <p class="copyright">© Copyright 2020 ARK</p>

  </div>
</footer>

</div>

<!-- JS -->
<script src="gb.js" charset="utf-8"></script>
</body>

</html>