<!-- Footer -->

<footer class="colored-section center">
  <div class="container-fluid">

    <i class="fab fa-twitter icon"></i>
    <i class="fab fa-facebook-f icon"></i>
    <i class="fab fa-instagram icon"></i>
    <i class="fas fa-envelope icon"></i>

    <p class="copyright">© Copyright 2020 ARK</p>

  </div>
</footer>

<!-- JS -->
<script src="gb.js" charset="utf-8"></script>
</body>

</html>