body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 5% 0;
}

.error {
  color: #aa1111;
}

.title, .subtitle {
  color: #fff;
}

@media (min-width: 64rem) {
  p {
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .title {
    font-size: 3.7rem;
  }
}

/* Cards
================================== */
.card {
  margin: 30px 0;
}

.center {
  padding: 0 5%;
  text-align: center;
}

.right {
  text-align: right;
}

/* Jumbotron
================================== */
.btn-jumbotron {
  margin: 10px 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.jumbo-background {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?cs=srgb&dl=people-silhouette-during-sunset-853168.jpg&fm=jpg");
  background-size: cover;
  text-align: center;
}

/* Headings
================================== */
.big-heading {
  font-family: 'Montserrat';
  size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

@media (min-width: 64rem) {
  .big-heading {
    font-size: 2.4rem;
    line-height: 1;
    text-align: left;
  }
}

/* Navigation
================================== */
.navbar {
  padding: 0 5%;
}

.navbar-brand {
  font-family: 'ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: bold;
}

/* Footer
================================== */
.icon {
  padding: 0 30px;
}

.copyright {
  color: #fff;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

/* Forms
================================== */
.request-form {
  padding: 0 5%;
}

.formLabel {
  font-size: 20px;
}

form {
  text-align: left;
  margin-bottom: 1em;
}

.request-form:input[type="text"], .request-form:input[type="phone"], .request-form:input[type="email"] {
  height: 60px;
  top: 10px;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
}

.needDescription {
  top: 10px;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
}

/* Sections
================================== */
.colored-section {
  background-color: #0071AD;
  color: #FFF;
}

.white-section {
  background-color: #fff;
}